In [3]:
# Loop which updates a variable
length = 0
names = ['Curie', 'Darwin', 'Turing']
for name in names:
    length = length + 1
print('There are', length, 'names in the list.')

There are 3 names in the list.

## Range function
#### Range can accept 3 parameters:
- If one parameter is given, range generates a sequence of that length, starting at zero and incrementing by 1. For example, range(3) produces the numbers 0, 1, 2.
- If two parameters are given, range starts at the first and ends just before the second, incrementing by one. For example, range(2, 5) produces 2, 3, 4.
- If range is given 3 parameters, it starts at the first one, ends just before the second one, and increments by the third one. For example, range(3, 10, 2) produces 3, 5, 7, 9.

In [6]:
# Write a loop that prints the first 3 natural numbers.
for i in range(1,4):
    print(i)

1
2
3

In [15]:
# Write a loop that calculates 5 ** 3 using multiplication.
value = 5
for i in range(2):
    value = value * 5
print(value)

125

In [18]:
# Write a loop that calculates the sum of elements in a list by adding each element and printing the final value
list = [124, 402, 36]
total = 0
for item in list:
    total += item
print(total)

562

In [27]:
# Use enumerate() to compute the value of y of any polynomial
y = 0
coefs = [2, 3, 4]
x = 5
for idx, coef in enumerate(coefs):
    y = y + (coef * x**idx)
print(y)

117